.movie-item-container {
  border: 1px solid red;
  background-color: #131313;
  min-height: 100vh;
}
.poster-container {
  border: 1px solid green;
}
.movie-info-container {
  border: 2px solid red;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px;
}
.movie-items-div {
  border: 1px solid yellow;
  margin: 6px;
}
.movie-info-heading {
  font-size: 18px;
  color: #94a3b8;
  font-family: 'HK Grotesk';
  margin: 0px;
}
.movie-info-ul-container {
  list-style-type: none;
  padding-left: 0px;
}
.movie-list-item {
  font-size: 16px;
  font-family: 'HK Grotesk';
  margin: 4px;
  color: #ffffff;
}

.movie-similar-container {
  border: 2px solid green;
  padding: 30px;
}
.more-like-this {
  font-size: 26px;
}
.similar-ul-container {
  list-style-type: none;
  border: 1px solid yellow;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.more-like-this {
  font-size: 24px;
  font-family: 'Hk Grotesk';
  color: #ffffff;
  font-weight: 600;
}
.movie-popular-poster {
  width: 90px;
  height: 64px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .movie-popular-poster {
    width: 255px;
    height: 170px;
  }
}
.similar-li-item {
  margin: 6px;
}
